{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Bienvenidos | {{block.super}}{% endblock %}

<style type="text/css">
  {% block style %}
  .jumbotron {
  	background-color: #0B3B2E !important;
  	color: white !important;
  }

  .fa-5x {
  	margin-top: 9px;
  	font-size: 8em !important;
  }

  {% endblock %}
</style>

{% block jumbotron %}

{% if request.user.is_staff %}
{{ queryset }}
{% else %}

<div class="jumbotron">
<div class="container">
<div class='row'>
	<div class='col-sm-6'>
		<h1>Probar Djando 3.05</h1>
         <p>En esta práctica seguimos un curso de Django para principiantes en el que aprendemos la utilización de Django y sus funciones.</p>
         <p>El objetivo es construir una página web simple a la par que elegante en muy poco tiempo.</p>
         <p>
           <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">UNETE A NOSOTROS &raquo;</a>
         </p>
    </div>
<div class='col-sm-6' style="margin-top: 27px;"><iframe width="560" height="315" src="https://www.youtube.com/embed/DGogLQkvUaw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
</div>
</div>
{% endif %}
{% endblock %}

{{ titulo }}<br>
{{ request.user }}
<hr/>
<br>

{% block content %}
{% if not request.user.is_staff %}
<div class="row">
	<div class="col-sm-3 col-xs-12 pull-right">
		{% if not user.is_authenticated %}		
		<p class="lead text-align-center">Suscribirte</p>
		<form method="POST" action="">{%csrf_token %}
		{{ el_form|crispy }}
		<input class="btn btn-primary" type="submit" value="Inscribirse" />
		</form>
		{% else %}
		<p class="lead text-align-center">{{ titulo }}</p><br><br><i style="margin-left: 85px;" class="fa fa-hand-peace-o fa-5x" aria-hidden="true"></i>
		{% endif %}
	</div>

	<div class="col-sm-3">
		<p class="lead text-align-center">Creado con Django &amp; Bootstrap.<br><i style="margin-top: 15px; color: #0B3B2E" class="fab fa-battle-net fa-spin fa-5x"></i></p>
	</div>

	<div class="col-sm-3">
		<p class="lead text-align-center">Con mucho amor y pasión.</p><img src="{% static 'img/trump.jpg' %}" style="margin-top: 19px;">
	</div>

	<div class="col-sm-3">
		<p class="lead text-align-center">Siempre código abierto.<br><br><i class="fab fa-python fa-5x" style="color: #0B3B2E"></i></p>
	</div>
</div>

<hr>
{% endif %}
{% endblock %}